 .u-section-1 {
  background-image: url("images/gandi.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 1145px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 944px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 723px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 542px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 341px;
  }
}